body{
  margin: auto;
  text-align: center;
  background: black;
}

#principal{
  background: rgba(10, 30, 141, 1);
  color: white;
  display: inline-block;
  width: 300px;
  margin-top: 20px;
  border-radius: 1em;
}


